body {
  margin: 0 auto;
  text-align: center;
  background: rgba(251, 255, 233, 0.3);
}

textarea {
  height: 150px;
  width: 880px;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1em;
  color:#081f2a;
}
textarea.mac {
  width: 818px;
}

#info {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1em;
  color:#081f2a;
  min-width: 818px;
}

#keyboard {
  height: auto;
  width: 880px;
  margin: 5px auto;
  border: 1px solid black;
}
#keyboard.mac {
  width: 818px;
}
.keyboard-line {
  display: flex;
}

.key {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(165, 148, 148);
  border-radius: 5px;
  margin: 3px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  color:#081f2a;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

#tab {
  width: 70px;
}
#tab.mac {
  width: 85px;
}
#capslock {
  width: 100px;
}
#shiftleft {
  width: 120px;
}
#shiftleft.mac {
  width: 130px;
}
#controlleft {
  width: 64px;
}
#space {
  width: 386px;
}
#space.mac {
  width: 339px;
}
#backspace, #delete, #enter, #shiftright, #controlright {
  flex-grow: 1;
}

.hovered {
  background: rgba(0, 0, 0, 0.2);
}

.pressed {
  background: rgba(149, 43, 43, 0.5);
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.caps-active {
  background: rgba(149, 43, 43, 0.5);
}