body {
  margin: 0 auto;
  text-align: center;
}

textarea {
  height: 150px;
  width: 880px;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

#keyboard {
  height: auto;
  width: 880px;
  margin: 5px auto;
  border: 1px solid black;
}

.keyboard-line {
  display: flex;
}

.key {
  height: 50px;
  width: 50px;
  background: rgb(165, 148, 148);
  border-radius: 5px;
  margin: 3px;
}

#Tab {
  width: 70px;
}
#CapsLock {
  width: 100px;
}
#Left-Shift {
  width: 120px;
}
#Left-Ctrl {
  width: 64px;
}
#Space {
  width: 386px;
}

#Backspase, #Delete, #Enter, #Right-Shift, #Right-Ctrl {
  flex-grow: 1;
}